/* .dropdown-menu-login li {
    display: block;
    position: absolute;
    
    background-color: rgb(30, 188, 93);
   } */
.dropdown-menu-login{
    display: block;
    position: absolute;
    left: 10px;
    top: 70%;
    background-color: rgb(50, 49, 49);
}
.dropdown-menu-login ul{
    display: block;
    margin: 10px;
    list-style: none;    
}
.dropdown-menu-login ul li{
    width: 100px;
    padding: 10px;  
}
.dropdown-menu-login ul li a{
   color:whitesmoke;
}
.dropdown-menu-login ul li a:hover{
    color:rgb(12, 127, 51)   
 }